.body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #bbbbbb;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
}

.active {
  background-color: #3380b4;
  border: 3px solid white;
  color: white;
}

.inactive {
  background-color: white;
  border: 3px solid #3380b4;
  color: #3380b4;
}
